<div>
  <div class="grid-container">
    <div>
      <!-- Team1 -->
      <mat-card style="text-align: center;" class="example-card card1">
        <mat-card-content>
          <h3>Hombre</h3>
          <img src="" alt="">
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div>
      <!-- VS -->
      <mat-card style="text-align: center; font-weight: bold;" class="example-card card2">
        <mat-card-content>
          <h1 style="color: #673ab7;"> {{ teamOne }} - {{ teamTwo }} </h1>
        </mat-card-content>
      </mat-card>
    </div>
    <div>
      <!-- Team2 -->
      <mat-card style="text-align: center;" class="example-card card3">
        <mat-card-content>
          <h3>Hombre</h3>
          <img src="" alt="">
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div>
    <!-- feed -->
  </div>
</div>
