<div class="scanner-shell" [hidden]="!hasDevices">
  <zxing-scanner [torch]="torchEnabled" [(device)]="currentDevice" (scanSuccess)="onCodeResult($event)"
               [formats]="formatsEnabled" [tryHarder]="tryHarder" (permissionResponse)="onHasPermission($event)"
               (camerasFound)="onCamerasFound($event)" (torchCompatible)="onTorchCompatible($event)"></zxing-scanner>
  <!--section class="results" *ngIf="qrResultString">
    <div>
      <small>Result</small>
      <strong>{{ qrResultString }}</strong>
    </div>
    <button mat-icon-button (click)="clearResult()">&times;</button>
  </section-->
</div>

<div class="form-popup" id="successfulScan">
  <form action="/action_page.php" class="form-container">
    <h1>Scan Results</h1>

    <img [src]=" studentImage ">
    <h5 id="studentNumber">{{ studentNumber }}</h5>
    <label for="nameSurname"><b>Student Name</b></label>
    <p id="nameSurname">{{ studentName }}</p>

    <mat-form-field>
      <mat-label>Choose Event</mat-label>
      <mat-select>
        <mat-option (click)="setEID(local.eventID)"  *ngFor="let local of localArray" [value]="local.eventID">
          {{local.title}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button type="submit" class="btn" (click)="validate(qrResultString)">Update</button>
    <button type="submit" class="btn cancel" (click)="closeForm()">Close</button>
  </form>
</div>
