<!--html>
  <head>
    <title>
      QR Scanner
    </title>
  </head>
  <body>
    <ngx-qrcode *ngIf="display" id="qrCodeImage" [qrc-element-type]="elementType" [qrc-value] = "qrCodeEmail"></ngx-qrcode>
  <router-outlet></router-outlet>
  </body>
</html-->

<div class="main-div">
  <form #f="ngForm">
    <mat-card style="text-align: center; padding: 32px;">
      <!--ngx-qrcode *ngIf="display" id="qrCodeImage" [qrc-element-type]="elementType" [qrc-value] = "qrCodeEmail"></ngx-qrcode-->
      <mat-card-content>
        <ngx-qrcode *ngIf="display" id="qrCodeImage" [qrc-element-type]="elementType" [qrc-value] = "qrCodeEmail"></ngx-qrcode>
      </mat-card-content>
    </mat-card>
  </form>
</div>
